<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="BaseUserScenariosSuite" verbose="1">

    <listeners>
        <listener class-name="BaseTestListener"/>
    </listeners>

    <test name="Tests">
        <classes>
            <class name="HabrTests" />
        </classes>
    </test>

</suite>
